/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    background-color: #36454F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
h1,h2,h3 {
    color: #FFFF00;
    font-family: 'Parkinsans', sans-serif;
}
h4,h5,p {
    font-family: 'Parkinsans', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Parkinsans', sans-serif;}

