<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Something</mat-label>
      <input matInput placeholder="Something" value="Something">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Something 2</mat-label>
      <textarea matInput placeholder="Something 2"></textarea>
    </mat-form-field>
  </form>