<li
  class="team team-top"
  [ngClass]="{ 'has-name': participantOne.name.trim() !== '' }"
  draggable="true"
  (dragstart)="onSelect(participantOne)"
  (click)="viewParticipant(participantOne.nanoID)"
>
  {{ participantOne.name }}<span class="score"></span>
</li>
<li
  class="team team-bottom"
  [ngClass]="{ 'has-name': participantTwo.name.trim() !== '' }"
  draggable="true"
  (dragstart)="onSelect(participantTwo)"
  (click)="viewParticipant(participantTwo.nanoID)"
>
  {{ participantTwo.name }}<span class="score"></span>
</li>
