li {
    box-shadow: none;
    outline: transparent;
    border-radius: 1px;
    margin-bottom: 5px;
    background-color: #ffffff7e;
}

li.has-name {
    background-color: #fff;
    outline: 1px solid #ffff00;
}
