<div class="container my-5">
    <div class="row justify-content-center">
      <!-- Tournament 1 -->
      <div class="col-md-4">
        <div class="card text-center" style="border: none; background-color: transparent;">
          <img [src]="kingdomImageUrl" class="card-img-top mx-auto" style="width: 80%; max-width: 200px;" alt="Tournament A">
          <div class="card-body">
            <h5 class="card-title" style="color: #FFFF00;">Tournament A</h5>
            <p class="card-text text-white">Tournament A description goes here.</p>
          </div>
        </div>
      </div>
  
      <!-- Tournament 2 -->
      <div class="col-md-4">
        <div class="card text-center" style="border: none; background-color: transparent;">
          <img [src]="kingdomImageUrl" class="card-img-top mx-auto" style="width: 80%; max-width: 200px;" alt="Tournament B">
          <div class="card-body">
            <h5 class="card-title" style="color: #FFFF00;">Tournament B</h5>
            <p class="card-text text-white">Tournament B description goes here.</p>
          </div>
        </div>
      </div>
  
      <!-- Tournament 3 -->
      <div class="col-md-4">
        <div class="card text-center" style="border: none; background-color: transparent;">
          <img [src]="kingdomImageUrl" class="card-img-top mx-auto" style="width: 80%; max-width: 200px;" alt="Tournament C">
          <div class="card-body">
            <h5 class="card-title" style="color: #FFFF00;">Tournament C</h5>
            <p class="card-text text-white">Tournament C description goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  