<!-- Home Page of the site -->
<h1>SCA Tournament Manager</h1>
<h2>Most Recent Tournaments</h2>

<!-- Div is a loop that displays each tournament's information through a "tournament-info component" -->
<div class="container my-5">
  <div class="row">
    <!-- Loop through tournaments and create a card for each -->
    <div class="col-md-4" *ngFor="let tournament of tournaments">
      <app-tournament-info
        title="{{ tournament.name }}"
        loc="{{ tournament.location }}"
        date="{{ tournament.date }}"
        description="{{ tournament.description }}"
        kingdomImageId="0"
        (click)="viewTournament(tournament.tournamentNanoID)"
      ></app-tournament-info>
    </div>
  </div>
</div>
