/* Footer container styling */
.footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Align button to the right */
  }
  
  /* Button styling */
  .to-top-btn {
    background-color: transparent;
    border: none;
    border: 2px solid #FFFF00; 
    border-radius: 5px;
    margin: 20px;
    background-color: #2e3a43;
    color: #FFFF00; /* text color */
    font-size: 16px;
    cursor: pointer;
  }
  
  .to-top-btn:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
  }
  