.tournament-view {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
  gap: 40px; /* Space between sections */
}

::ng-deep .view-tournament-title {
  font-size: 2em;
}

.vertical-divider {
  width: 2px;
  height: 80vh; /* Adjust the height as needed */
  background-color: #ffffff;
  margin: 0 20px;
}

.left_section .right_section {
  display: flex;
  flex-direction: column;
  width: 48%; /* Ensure both sections take up half the space */
  max-width: 400px;
}

.update-bracket-btn {
  margin-bottom: 40px;
  padding: 10px 20px;
  align-items: end;
  background-color: #ffff00;
  color: #36454f; /* Button text color */
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Rounds the edges */
}

/* The actual bracket visualizer */

.wrapper {
  display: flex;
  height: 600px;
  justify-content: center;
  color: #36454f;
}

.item {
  display: flex;
  flex-direction: row-reverse;
}

.item p {
  padding: 20px;
  margin: 0;
  background-color: white;
  border: 3px solid #ffff00;
  border-radius: 3px;
}

.item-parent {
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.item-parent:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #ffff00;
  transform: translateX(-100%);
}

.item-childrens {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.item-child:before {
  content: "";
  position: absolute;
  background-color: #ffff00;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 25px;
  height: 2px;
}

.item-child:after {
  content: "";
  position: absolute;
  background-color: #ffff00;
  right: -25px;
  height: calc(50% + 22px);
  width: 2px;
  top: 50%;
}

.item-child:last-child:after {
  transform: translateY(-100%);
}

.item-child:only-child:after {
  display: none;
}
