<div class="tournament-view">
  <!-- Left Section: Tournament Info -->
  <div class="left_section">
    <div
      class="row justify-content-center"
      *ngFor="let tournament of tournaments"
    >
      <app-tournament-info
        title="{{ tournament.name }}"
        loc="{{ tournament.location }}"
        date="{{ tournament.date }}"
        description="{{ tournament.description }}"
        nanoId="{{ tournament.tournamentNanoID }}"
        kingdomImageId="0"
      ></app-tournament-info>
    </div>
  </div>

  <!-- Vertical Divider -->
  <div class="vertical-divider"></div>

  <!-- Right Section: Bracket -->
  <!-- https://blog.codepen.io/2018/02/16/need-make-tournament-bracket/ -->
  <div class="right_section">
    <div class="wrapper">
      <div class="item">
        <div class="item-parent">
          <p>Parent</p>
        </div>
        <div class="item-childrens">
          <div class="item-child">
            <div class="item">
              <div class="item-childrens">
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Parent</p>
                    </div>
                    <div class="item-childrens">
                      <div class="item-child">
                        <p>child 1</p>
                      </div>
                      <div class="item-child">
                        <p>child 2</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-child">
            <div class="item">
              <div class="item-childrens">
                <div class="item-child">
                  <div class="item">
                    <div class="item-parent">
                      <p>Parent</p>
                    </div>
                    <div class="item-childrens">
                      <div class="item-child">
                        <p>child 1</p>
                      </div>
                      <div class="item-child">
                        <p>child 2</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="update-bracket-btn">Update Bracket</button>
  </div>
</div>
