<div class="tournament-view">
  <div class="back-button-container">
    <app-back-button></app-back-button>
  </div>
  <!-- Left Section: Tournament Info -->
  <div class="left_section">
    <div
      class="row justify-content-center"
      *ngFor="let tournament of tournaments"
    >
      <app-tournament-info
        title="{{ tournament.name }}"
        loc="{{ tournament.location }}"
        date="{{ tournament.date }}"
        description="{{ tournament.description }}"
        nanoId="{{ tournament.tournamentNanoID }}"
        kingdomImageId="0"
      ></app-tournament-info>
    </div>
  </div>

  <!-- Vertical Divider -->
  <div class="vertical-divider"></div>

  <!-- Right Section: Bracket -->
  <!-- https://blog.codepen.io/2018/02/16/need-make-tournament-bracket/ -->
  <div class="right_section" *ngFor="let tournament of tournaments">
    <section id="bracket">
      <div class="container">
        <div class="split split-one">
          <div
            class="round"
            *ngFor="
              let _ of [].constructor(getRounds(tournament));
              let i = index
            "
          >
            <div class="round-details">ROUND {{ i + 1 }}</div>
            <ul
              class="matchup"
              *ngFor="
                let _ of [].constructor(
                  getNumParticipants(getRounds(tournament), i + 1)
                );
                let j = index
              "
            >
              <app-bracket-block
                tournamentString="{{ progressString }}"
                participantIndexOne="{{ j * 2 }}"
                participantIndexTwo="{{ j * 2 + 1 }}"
                round="{{ i }}"
                totalRounds="{{ getRounds(tournament) }}"
              >
              </app-bracket-block>
            </ul>
          </div>
        </div>

        <div class="champion">
          <div class="final">
            <i class="fa fa-trophy"></i>
            <div class="round-details">champion</div>
            <ul class="matchup championship">
              <li class="team team-top">
                <!-- &nbsp;<span class="vote-count">&nbsp;</span> -->
                {{ champion.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <button
      class="update-bracket-btn"
      (click)="updateTournament()"
      *ngIf="getLoggedInStatus() === 'logged in'"
    >
      Update Bracket
    </button>
    <p *ngIf="getLoggedInStatus() === 'logged in'">
      Drag a participant's name to mark them as the winner, then press Update
      Bracket to advance them.
      <br />
      <br />
      Click a participant's name to view their profile.
    </p>
  </div>
</div>
