/* Override the default navbar-default background color */
.navbar-default {
  background-color: #2e3a43; /* Desired background color */
  border-bottom: 0.5px solid #FFFFFF; /* Underline color and thickness */
  border-left: none; /* Remove the left border */
  border-right: none; /* Remove the right border */
  border-top: none; /* Remove the top border */
}

/* Change the link colors in the navbar */
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF; /* Change text color to white */
}

/* Navbar brand styling */
.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF; /* Example: Change color to gold on hover */
  }

  .navbar-default .navbar-brand:hover {
    color: #FFFFFF; /* Example: Gold on hover */
  }

/* Override the active link background */
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;  /* Make it transparent */
  color: #FFFFFF;  /* Ensure the text remains white */
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  background-color: transparent;  /* Keep it transparent */
  color: #FFFFFF;  /* Maintain white text */
  outline: none;  /* Remove the blue focus outline */
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}