.back-button {
  cursor: pointer;
  font-size: 18px;
  color: #ffff00; /* Yellow color for consistency */
  background: none;
  border: none;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.back-button:hover {
  cursor: pointer;
  color: #ffff00; /* Yellow color for consistency */
  background: #000000;
}
